/* Global CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-y: scroll;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #f3f3f3;
    margin: 0px;
    padding: 0px;
}

/* Home Side Bar Global Variabels */



/* Padding */
.globalPadding{
    padding: 0 24px 0 24px;
}

.smallSectionPadding{
    padding: 20px 0 20px 0;
}

.mediumSectionPadding{
    padding: 40px 0 40px 0;
}

.largeSectionPaddion{
    padding: 60px 0 60px 0;
}

.xlargeSectionPadding{
    padding: 80px 0 80px 0;
}

.xxlargeSectionPadding{
    padding: 100px 0 100px 0;
}

.homeSideBarPadding{
    padding: 64px 0 64px 0;
}


/* Home Page Opening Statement */
.homeOpener{
    left: 50%;
    position: absolute;
    top: 25%;
    text-align: center;
    transform: translate(-50%, -50%)
}

.homeOpener h1{
    font-size: 40px;
}

.homeOpener p{
    font-size: 20px;
}

/* Games This Week */
.gtwWrapper{
    align-items: start;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    width: 100%;
}

.gtwContent{
    display: block;
    padding: 0 52px 0 52px;
    text-align: center;
}

.gtwList{
    list-style-type: none;
    text-align: center;
}

.gtwGame{
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 12px;
    padding: 12px;
    transition: box-shadow 0.3s ease;
}

@media (max-wdith: 748px){
    .gtwWrapper{
        grid-template-columns: repeat (2, 1fr); /* 2 column for smaller screens */
    }
}

@media (max-width: 480px){
    .gtwWrapper{
        grid-template-columns: 1fr; /* 1 column for mobile devices */
    }
}